# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a script, but they may be committed to
#  repositories lacking CI/CD setup.
# *.manifest
# *.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit secrets
.streamlit/secrets.toml

# Data files (ถ้าไม่ต้องการให้ข้อมูลตัวอย่างหรือข้อมูลที่ผู้ใช้กรอกถูก commit)
rice_data.csv
*.csv # ถ้ามีไฟล์ CSV อื่นๆ ที่ไม่ต้องการ commit

# IDE / Editor specific files
.vscode/
.idea/
*.DS_Store
